#root {
  width: 300px;
  padding: 1rem;
  text-align: center;
}

body {
  min-width: 300px;
  max-width: 600px;
  min-height: 200px;
  max-height: 600px;
  margin: 0;
  overflow: auto;
}

.App form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.App input {
  padding: 0.5rem;
  font-size: 1rem;
}

.App button {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}